.c-check {
  display: inline-block;
  position: relative;
  &__box {
    & + label{
      z-index: 1;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all .3s ease;
      cursor: pointer;
      width: 15px;
      border: 2px solid $font-color_default;
      height: 15px;
    }
    &:checked + label{
      transition: all .3s ease;
      display: inline-block;
      width: 20px;
      height: 20px;
      border-top-color:transparent;
      border-right-color:transparent;
      border-bottom-color: $border-color_done;
      border-left-color:transparent;
      transform:rotate(-50deg) translate(50%,-50%);
    }
    &:checked + label:before {
      content: "";
      position: absolute;
      right: 0;
      bottom: -2px;
      height: 15px;
      width: 100%;
      border-left: 2px solid $border-color_done;
    }
  }
}